
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


pids
*.pid
*.seed
*.pid.lock

node_modules
jspm_packages/

dist
dist-ssr
build/
out/
*.local

*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.db
*.sqlite
*.sqlite3

.cache/
.parcel-cache/
.nyc_output/
.eslintcache
.prettiercache

coverage/
*.lcov

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

tmp/
temp/
*.tmp
*.temp
*.swp
*.swo
*~

*.pem
*.key
*.crt

*.backup
*.bak

.vscode/settings.json

.AppleDouble
.LSOverride
Icon

._*

.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

Thumbs.db:encryptable
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
.env

# Fichiers de duplication
* 2.*
*.ts 2

# Fichiers Redis supprimés
**/redis*
**/cache*

# Fichiers de configuration spécifiques
**/tsconfig 2.json
**/start 2.ts
